In [2]:
n=input("enter the text")
print(len(n))

enter the text umbrella

8

In [1]:
s=input("enter a text")
c={}
for i in s:
    if i in c:
       c[i]=c[i]+1
    else:
        c[i]=1
print(c,"occured in text")

enter a textprogramming is fun
{'p': 1, 'r': 2, 'o': 1, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 'n': 2, ' ': 2, 's': 1, 'f': 1, 'u': 1} occured in text

In [2]:
# 2. Word Length Mapping
a="The quick brown fox jumps over the lazy dog"
d={}
b=a.split()
c=dict(map(lambda x:(x,len(x)),b))
# for i in range(len(b)):
#     d[b[i]] = c[i]
# print(d)
print(c)

{'The': 3, 'quick': 5, 'brown': 5, 'fox': 3, 'jumps': 5, 'over': 4, 'the': 3, 'lazy': 4, 'dog': 3}

In [4]:
s1 = input("Enter a text: ")
w = s1.split()
C=dict(map(lambda x:(x,len(x)),w))
print(c)

Enter a text: swiss
{'p': 1, 'r': 2, 'o': 1, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 'n': 2, ' ': 2, 's': 1, 'f': 1, 'u': 1}

In [5]:
s1 = "banana bandana"
substrings = ["ban", "ana", "na"]

result = {}
for substring in substrings:
    result[substring] = s1.count(substring)

print(result)

{'ban': 2, 'ana': 2, 'na': 3}

In [1]:
n=input("enter the text")
words=0
for i in n:
    words=words+1
print(n,"contains",words,"words")

enter the text varun

varun contains 5 words

In [2]:
n=input("enter the text")
a=len(n)
print(a)

enter the text umbrella

8

In [3]:
n1=input("enter the text")
n2=input("enter the character")
c=0
for f in n1:
    if(f==n2):
        c=c+1
print(c,"times character is occured")

enter the text finland
enter the character n

2 times character is occured

In [4]:
n1=input("enter the text")
n2=input("enter the characters")
a=n1.split()
print(a)

enter the text workbook
enter the characters k

['workbook']

In [5]:
names=['kiran','amar','sreekar','aruna']
uppered_names=[]
uppered_names=list(map(str.upper,names))
print(uppered_names)

['KIRAN', 'AMAR', 'SREEKAR', 'ARUNA']

In [6]:
names=['KIRAN','AMAR','SREEKAR','ARUNA']
lowered_names=[]
lowered_names=list(map(str.lower,names))
print(lowered_names)

['kiran', 'amar', 'sreekar', 'aruna']

In [7]:
n=input("enter the text")
print(len(n))

enter the text jyothi

6

In [8]:
n=input("enter the text")#tree
c=0
for i in n:
    c=c+1
print(c)

enter the text tree

4

In [9]:
n=input("enter the text")
x=(n[:2]+n[7:9])
if len(x)>2:
   print(x)
else:
   print("word cannot form")

enter the text umbrella

uma

In [13]:
n=input("enter the text")#no.of words=word=group of char =string
c=0
str=0
for i in n:
    c=c+1
    str=c+1
print(str)

enter the text sun

4

In [19]:
s1='thisissampletext'
wc=0
for i in range(len(s1)):
    if s1[i]==s1:
	    wc=wc+1
print(wc)

0

In [20]:
l1=["varun","thanu","veena","jyothi","teja"]
for i in l1:
    if len(i)==5:
       print(i)
    else: 
       print("none")

varun
thanu
veena
none
none

In [22]:
s1=input("enter the string")
s2=input("enter the string")
s3=input("enter the string")
s4=input("enter the string")
s5=input("enter the string")
a=max(s1,s2)
b=max(s3,s4)
c=max(s5,a)
d=max(s5,b)
print(a,b,c,d)

enter the string hima
enter the string thanu
enter the string varun
enter the string uday
enter the string eaj

thanu varun thanu varun

# Python Collections

In [14]:
l1=[1,2,3,4]
l2=[6,7,8,9]
print([l1[0]+l2[0],l1[1]+l2[1],l1[2]+l2[2],l1[3]+l2[3]])

[7, 9, 11, 13]

In [15]:
l1=[]
l2=[]
if l1==[] and l2==[]:
   l1.append(10)
   l2.append(10)
   print("l1=",l1,"l2=",l2,"data is avaialable in both the lists") 
else:
   print(l1,l2,"data is avaialable in both lists")

l1= [10] l2= [10] data is avaialable in both the lists

In [16]:
l1=[1,2,3,4,5]
l2=[10,20,30,40]
l12=list(map(lambda x,y:x+y,l1,l2))
print(l12)

[11, 22, 33, 44]

In [18]:
book1={'name':'java','quantity':10,'price':400}
book2={'name':'python','quantity':15,'price':500}
print("name quantity price") 
for x in book1:
    print( book1[x],end=" ")
for y in book2:
    print("\n",book2[y],end=" ")
a=input("\n  book want to purchase:")
b=int(input("quantity:"))
purchase1={"book name":a,"quantity":b,"amount":book1.get("price")*b} 
x=input("\n  book want to purchase:")
y=int(input("quantity:"))
purchase2={"book name":x,"quantity":y,"amount":book2.get("price")*y}
print(purchase1)
print(purchase2)
print(book1.get("quantity")-purchase1.get("quantity"),"books left in java")
print(book2.get("quantity")-purchase2.get("quantity"),"books left in python")

name quantity price
java 10 400
 python
 15
 500

  book want to purchase: java
quantity: 1

  book want to purchase: python
quantity: 2

{'book name': 'java', 'quantity': 1, 'amount': 400}
{'book name': 'python', 'quantity': 2, 'amount': 1000}
9 books left in java
13 books left in python

In [23]:
n=[245,789,345]
for i in n:
    a=n[:i]
    b=n[::-1]
print(i,b)

345 [345, 789, 245]

In [29]:
## d1={}
l1=["name","age","location"]
for i in l1:
   d1[i]=input("enter:""")
print(d1)

enter: Jyothi
enter: 21
enter: Nellore

{'name': 'Jyothi', 'age': '21', 'location': 'Nellore'}

In [3]:
list1=[1,2,3,4,[1,2,3]]
list2={}
for i in list1:
    print(type(i))
    if type(i)==list:
        for j in i:
            if j in list2:
                list2[j]+=1
            else:
                list2[j]=1
    else:
        if i in list2:
            list2[i]+=1
        else:
            list2[i]=1
print(list2)

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'list'>
{1: 2, 2: 2, 3: 2, 4: 1}

In [30]:
l1=[1,2,3,4,5,1,2,4,5,5,5,2,2]
s1=[1,2,4,5]
a=[len(l1)-len(s1)]
print(a)

[9]

In [4]:
list=[2,4,3,5,6,-1,8]
sum=7
new_list=[]
for i in range(len(list)-1):
    if list[i]+list[i+1]==sum:
        new_list+=[(list[i],list[i+1])]
print(new_list)

[(4, 3), (-1, 8)]

In [32]:
l=[2,1,2,[1,2,3],3,4,2]
count=0
for i in l:
    count=count+1
print(l.count(3))

1

In [33]:
l=[2,4,3,5,6,-1,8]
sum=7
n=[]
for i in range(len(l)-1):
    if l[i]+l[i+1]==sum:
       n+=[(l[i],l[i+1])]
print(n)

[(4, 3), (-1, 8)]

In [1]:
l1=[]
l2=[]
if l1==[] and l2==[]:
   l1.append(10)
   l2.append(10)
   print("data is available in both the list")
else:
   print("data is not available")

data is available in both the list

In [5]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
key="b"
if key in my_dict:
    print(my_dict[key])
else:
    print("not found")

2

In [3]:
def maxchar(s):
    m={}
    n=len(s)
    a=''
    c=0
    for i in range(n):
        if s in m:
           m=m+1
        else:
           m=1
    if c<m[s]:
       a=s[i]
       c=m[s[i]]
       print(a,"more times occured")

# Palindrome

In [1]:
n=12321
c=str(n)[::-1]
print(c)
if c==str(n):
    print("palindrome")
else:
    print("not palindrome")

12321
palindrome

# Functional programming tools

In [1]:
l1=[1,2,3,4,5]
l2=[10,20,30,40]
l12=list(map(lambda x,y:x+y,l1,l2))
print(l12)

[11, 22, 33, 44]

In [2]:
circle_areas=(3.56773,5.57668,4.00914,56.24241,9.01344)
result=list(map(round,circle_areas,range(1,7)))
print(result)

[3.6, 5.58, 4.009, 56.2424, 9.01344]

In [5]:
from functools import reduce
numbers=[3,4,6,9,34,12]
def add_num(n1,n2):
    return n1+n2
result=reduce(add_num,numbers)
print(result)

68

In [3]:
l1=[1,2,3,4,5]
l2=[10,20,30,40]
l12=list(map(lambda x,y:x+y,l1,l2))
print(l12)

[11, 22, 33, 44]

In [4]:
st1=["madam","mom","kiran","ashok","radar"]
palin_str=list(filter(lambda x:x==x[::-1],st1))
print(palin_str)

['madam', 'mom', 'radar']